* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   scroll-behavior: smooth;
   font-family: "Arial", Helvetica, sans-serif;
}

html {
   font-size: 62.5%;
   /* overflow: hidden; */
}

:root{
   --bg-color: #000022;
   --second-bg-color: #21a859;
   --text-color:white;
   --main-color: rgb(255, 0, 0);
}
#particles-js {
   background-image: linear-gradient(rgba(0, 0 , 0, 0.5), rgba(0, 0, 0, 0.5)), url(codeonpc.jpg);
   height: 100vh;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
}

@media only screen and (max-width: 600px) {
   .header .logo {
     display: none; /* Hide the logo */
   }
 
   .header-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
 
   .header-icons {
     display: flex;
   }
 
   .hero-section {
     text-align: center;
   }
 
   .footer-icons {
     display: flex;
     justify-content: center;
   }
 
   .social-icons {
     display: none; /* Hide social icons in the header */
   }
 } 

#redText{
   color: var(--main-color);
}

.header{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   padding:3rem 9%;
   background: rgba(40, 1, 20, 0.4);
   backdrop-filter: blur(20%);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}
 /* NAVBAR */
.navbar {
   display: none; /* Hide original navbar */
}

.header-container{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#menu-icon {
   font-size: 2rem;
   cursor: pointer;
   position: fixed;
   top: 20px;
   right: 30px;
   z-index: 1001;
}

.overlay {
   height: 0;
   width: 100%;
   position: fixed;
   z-index: 1000;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.9);
   overflow-y: hidden;
   transition: height 0.5s ease;
}

.overlay-menu {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.overlay-menu a {
   margin: 15px 0;
   font-size: 24px;
   color: white;
   text-decoration: none;
}

.overlay-menu a:hover {
   color: #f1f1f1;
}

.logo {
   font-size: 3rem ;
   color: var(--text-color);
   font-weight: 800;
   cursor: pointer;
   transition: 0.3s ease;
}

.logo:hover {
   transform: scale(1.1);
   text-decoration: none;
}

.hero-section{
   width: 100%;
   padding: 0 10em;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   top: 50%;
}

h1 {
   color: var(--main-color);
   font-size: 50px;
   
}

.span1 {
   color: var(--text-color);
}

.navbar{
   display: none;
   width: 100%;
}

.navbar a {
   font-size: 1.8rem;
   /* color: rgb(138, 122, 122); */
   margin-left: 4rem;
   font-weight: 500;
   transition: 0.3s;
   border-bottom: 3px solid transparent;
   text-decoration: none;
}
.navbar a:hover,
.navbar a.active{
   color: var(--main-color);
   border-bottom: 3px solid var(--main-color);
}

#menu-icon {
   font-size: 3.6rem;
   color: var(--main-color);
    /* display: none; */
}

p {
   font-size: 30px;
   color: var(--text-color);
}


.role {
   opacity: 0;
   transition: opacity 1s ease-in-out;
}

.role.active {
   opacity: 1;
}

#roleText {
   color: rgb(255, 0, 47);
}

#cursor {
   color: var(--text-color);
}


.social-icons{
   display: flex;
   flex-direction: column;
   gap: 40px;
   align-items: center;
}

.hero-text{
   text-align: center;
}

.social-icons{
   display: flex;
   flex-direction: column;
   gap: 40px;
   align-items: center;
}

.social-icons a {
   display: inline-flex;
   justify-content: baseline;
   align-items: center;
   width: 40px;
   height: 40px;
   background: transparent;
   border: var(2px solid #0ef);
   border-radius: 50px;
   font-size: 20px;
   text-decoration: none;
   margin: 30px 15px 30px 0;
}

.social-icons i {
   color: var(--text-color);
   font-size: 40px;

}

.social-icons i:hover{
   color: #106c36;
   
}

@media only screen and (max-width: 600px) {
   .about-div {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
   }
 
   .about-content2 {
     margin-bottom: 20px;
   }
 
   .aboutMe-img {
     margin-top: 20px;
   }
 
   .aboutMe-img img {
     max-width: 100%;
     height: auto;
   }
 }
 

.aboutMe-page{
   background-color: rgb(12, 12, 12);
   text-align: center;
}

.about-div {
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
}

.aboutMe-img {
   border-radius: 20px;
}

#me{
   color: var(--text-color);
}

#aboutMe{
   color: var(--main-color);
}

#get{
   color: rgb(96, 19, 19);
}

.button {
   background-color: var(--main-color);
   border: none;
   color: var(--text-color);
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 10px;
}

#services {
   color: var(--main-color);
   margin-top: 20px;
}

.whiteText {
   color: var(--text-color);
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.card {
   width: 300px;
   background-color: rgb(34, 33, 33);
   margin: 20px;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: background-color 0.3s ease;
   cursor: pointer;
   position: relative;
}

.card:hover {
   background-color: #ff0000;
}

.card-content {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.card-icon {
   font-size: 24px;
   margin-bottom: 10px;
   background-color: #ff0000;
   color: var(--text-color);
   border-radius: 10px;
   padding: 10px;
}

.card-title {
   font-size: 24px;
   margin-bottom: 10px;
   color: var(--text-color);
   text-align: center;
}

.card-description {
   font-size: 18px;
   color: var(--text-color);
   text-align: center;
}

#skills{
   width: 100%;
   height:auto;
}

@media only screen and (max-width: 600px) {
   .skills-content {
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   
   .skill-html {
     width: 90%;
     margin-bottom: 20px;
   }
 }

.skills-header{
   height: auto;
   width: 100%;
   text-align: center;
   align-items: center;
   justify-content: center;
   font-size: 45px;
   font-family: raleway;
   color: var(--text-color);
   padding:10px;
   padding-bottom: 30px;
   padding-top: 30px;
   font-weight: 900;
}

.skills-content{
   height: auto;
   width:100%;
   margin-top: 20px;
   margin-bottom: 80px;
}

.skill-html{
   height: auto;
   width: 45%;
   padding: 0%;
   position: relative;
   font-family: poppins;
   color: var(--text-color);
   display: inline-block;
   padding:1.5%;
}

.skill-text{
   width:80%;
   position: relative;
   height: 50px;
}

.html{
   display: inline-block;
   position: absolute;
   left: 5%;
   top:30%;
}

.html-prog{
   width:100%;
   height:40px;
   border-radius: 10px;
   background: #191919;
   box-shadow:0px 0px 25px rgb(0,0,0,.1);
   position: relative;
   overflow: hidden;
}

.html-progress{
   position: absolute;
   top:10%;
   left:1%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all .4s ease;
   width:95%;
   border-radius: 10px;
   background: #c70039;
}

.js-progress{
   position: absolute;
   top:10%;
   left:1%;
   height: 80%;
   display: flex;
   align-items: center;
   font-family: poppins;
   justify-content: center;
   transition: all .4s ease;
   width:90%;
   border-radius: 10px;
   background: #c70039;
}

.c-progress{
   position: absolute;
   top:10%;
   left:1%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all .4s ease;
   width:83%;
   border-radius: 10px;
   background: #c70039;
}

.python-progress{
   position: absolute;
   top:10%;
   left:1%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   width:85%;
   border-radius: 10px;
   background: #c70039;
   transition: all .4s ease;
}

.jquery-progress{
   position: absolute;
   top:10%;
   left:1%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all .4s ease;
   width:94%;
   border-radius: 10px;
   background: #c70039;
}

.autoCard-progress{
   position: absolute;
   top:10%;
   left:1%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   width:84%;
   border-radius: 10px;
   transition: all .4s ease;
   background: #c70039;
}

.Blog-page {
   background-color: black;
}

.blog-content1 {
   justify-content: center;
   text-align: center;
 padding-top: 20px;
} 

main {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   border: none;
 }

 .blog-post {
   position: relative;
   width: calc(50% - 40px);
   margin: 20px;
   border: none;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   transition: transform 0.3s ease;
 }

 .blog-image img {
   width: 100%;
   height: auto;
 }

 .date-div {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   color: #fff;
   padding: 5px 10px;
   font-size: 14px;
   text-align: center;
 }

 .blog-content {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   color: #fff;
   padding: 20px;
   opacity: 0;
   transition: opacity 0.3s ease;
 }

 .blog-post:hover .blog-content {
   opacity: 1;
 }

 h2 {
   font-size: 20px;
   margin-top: 0;
 }

 p {
   font-size: 16px;
   margin-bottom: 0;
 }

 /* Media queries */
 @media (max-width: 768px) {
   .blog-post {
     width: calc(100% - 40px);
   }
 }

 @media (min-width: 769px) {
   .blog-post {
     width: calc(33.33% - 40px);
   }
 }

.footer {
   background-color: rgb(29, 31, 31);
   padding: 30px;
   color: var(--text-color);
   font-size: 20px;
   text-align: center;
}

.portfolio-page {
   background-color: black;
}

.portfolio-text {
   text-align: center;
   justify-content: center;
   padding-top: 30px;
}

/* portfolio */

.image-card-container {
   position: relative;
   width: 100%;
   max-width: 600px; /* Adjust as needed */
 }
 
 .big-image-card {
   position: relative;
   width: 100%;
 }
 
 .big-image-card img {
   width: 100%;
   display: block;
 }
 
 .overlay1 {
   position: absolute;
   bottom: 0;
   right: 0;
   background: #00000080;
   color: #fff;
   padding: 50%;
   overflow: hidden;

 }
 
 .small-image-card {
   position: absolute;
   bottom: 0;
   right: 0;
   margin-top: -50px; /* Adjust as needed */
   z-index: 1;
 }
 
 .small-image-card img {
   width: 100px; /* Adjust as needed */
   display: block;
 }
 